.body-404{
	background: rgb(0, 121, 216);
}

.carita-div{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.carita{
	font-size: 25rem;
	color: white;
}

.texto-404{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	p{
		color: white;
		font-size: 4rem;
		@media (max-width: 767px) and (min-width: 280px) {
			font-size: 2rem;
		}
		a{
			color: white;
			font-size: 4rem;
			@media (max-width: 767px) and (min-width: 280px) {
			font-size: 2rem;
		}
			
		}
	}
}


