.contMainEstilos{
	display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-areas:"realista acuarela" "tribal puntillismo";
  @media (max-width: 767px) and (min-width: 280px){
    display: block;
  }
  	h2{
  		font-size: 3rem;
  		color: black;
  		text-decoration:underline;
  	}
}

.realista{
	background:$mainColorWD;
	grid-area:realista;
  @media (max-width: 767px) and (min-width: 280px) {
    display: flex;
    align-items:center;
    flex-direction: column;
  }
}

.carousel-estilo{
  width: 90%;
  height: 71vh;
  @media (max-width: 767px) and (min-width: 280px){
    width: 90vw;
    height: 40vh;
  }
  margin-left: auto;
  margin-right: auto;
}

.imagen-estilo {
  height: 70vh;
  width: 100%;
  @media (max-width: 767px) and (min-width: 280px) {
      height: 40vh;
      width: 90vw; }
     }

.acuarela {
  grid-area: acuarela;
  background: $mainColorWD; 
  @media (max-width: 767px) and (min-width: 280px) {
    display: flex;
    align-items:center;
    flex-direction: column;
  }
}



.tribal { 
  background: $mainColor;
  grid-area: tribal; 
  @media (max-width: 767px) and (min-width: 280px) {
    background:$mainColorWD;
    display: flex;
    align-items:center;
    flex-direction: column;
  }
}



.puntillismo {
  background: $mainColor;
  grid-area: puntillismo; 
  @media (max-width: 767px) and (min-width: 280px) {
    display: flex;
    align-items:center;
    flex-direction: column;
  }
}


